---
layout: compress
tipue_search_active: true
---
<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137908761-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-137908761-1');
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{site.github.url}}/javascripts/respond.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>The Digital Cookbook</title>
        <link rel="shortcut icon" type="image/png" href="{{site.github.url}}/favicon1.png">
        <link rel="stylesheet" href="{{site.github.url}}/stylesheets/github-dark.css">
        <link rel="stylesheet" href="{{site.github.url}}/stylesheets/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--{% if page.tipue_search_active or layout.tipue_search_active %}-->
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
        <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
        <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
        <!--{% endif %}-->
    </head>
    <body>
        <div id="header">
          <nav>
            <li class="fork"><a href="{{site.github.url}}">Home</a></li>
            <li class="fork"><a href="{{site.github.url}}/AppetizerDips/index.html">Appetizers/Dips</a></li>
            <li class="fork"><a href="{{site.github.url}}/Breakfast/index.html">Breakfast</a></li>
            <li class="fork"><a href="{{site.github.url}}/Camping/index.html">Camping Foods</a></li>
            <li class="fork"><a href="{{site.github.url}}/Desserts/index.html">Desserts</a></li>
            <li class="fork"><a href="{{site.github.url}}/MainDishes/index.html">Main Dishes</a></li>
            <li class="fork"><a href="{{site.github.url}}/Salads/index.html">Salads</a></li>
            <li class="fork"><a href="{{site.github.url}}/Sauces/index.html">Sauces</a></li>
            <li class="fork"><a href="{{site.github.url}}/Sides/index.html">Sides</a></li>
            <li class="fork"><a href="{{site.github.url}}/Snacks/index.html">Snacks</a></li>
            <li class="fork"><a href="{{site.github.url}}/Contact/index.html">Contact</a></li>
            <li class="fork"><a href="{{site.github.url}}/AndroidApp/index.html">AndroidApp</a></li>
            <li class="fork">
              <select name="commonSearches" onchange="location = this.value;">
                <option value="">Common Searches</option>
                <option value="{{site.github.url}}/?q=Crockpot">Crockpot</option>
                <option value="{{site.github.url}}/?q=Instant+Pot">Instant Pot</option>
                <option value="{{site.github.url}}/?q=Slow+Cooker">Slow Cooker</option>
                <option value="{{site.github.url}}/?q=The+Greatest">The Greatest</option>
              </select>
            </li>
            <li class="fork">
              <form action="{{ page.url | relative_url }}" id="form1">
                <div class="tipue_search_left"></div>
                <div class="tipue_search_left"><img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon"></div>
                <div class="tipue_search_right"><input type="text" placeholder="Search Recipes..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div><button type="submit" form="form1" value="Submit">Search</button>
                <div style="clear: both;"></div>
              </form>
            </li>
          </nav>
          <!--<div id="tipue_search_content"></div>-->
          <script>
            $(document).ready(function() {
              $('#tipue_search_input').tipuesearch();
            });
          </script>
        </div>
        <div class="wrapper">
            <section>
              <div id="tipue_search_content"></div>
                <div id="title">
                    <center><h1><b>The Digital Cookbook</b></h1></center>
                    <center><h3>Let's Get to Cooking!</h3></center>
                    <center>
                    <form>
                        <input type="button" value="Most Recently Added"  style="background-color:#98FB98; color:#17202A;" onclick="window.location.href='{{site.github.url}}/MostRecentlyAdded/index.html'" />
                        <input type="button" value="Craig's Top 5" style="background-color:#98FB98; color:#17202A;" onclick="window.location.href='{{site.github.url}}/CraigsTop5/index.html'" /><br>
                        <input type="button" value="Submit Recipe" style="background-color:#98FB98; color:#17202A;" onclick="window.location.href='{{site.github.url}}/Contact/SubmitRecipe/index.html'" />
                        <input type="button" value="Submit Picture" style="background-color:#98FB98; color:#17202A;" onclick="window.location.href='{{site.github.url}}/Contact/SubmitPicture/index.html'" /><br>
                        <input type="button" value="Submit Issue" style="background-color:#98FB98; color:#17202A;" onclick="window.location.href='{{site.github.url}}/Contact/SubmitIssue/index.html'" />                        
                        <input type="button" value="Print This Page" style="background-color:#98FB98; color:#17202A;" onclick="window.print();return false;"/>
                    </form>
                    </center>
                </div>
            </section>
            <!-- Page.content -->
            <article class="post-content">
                {{ content }}
            </article>
        </div>
    </body>
</html>
